{% extends "_container.html" %}

{% block container_content %}
    <div class="flex flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-base-content">
                {% block title %}Title{% endblock %}
            </h2>
        </div>

        <div class="mt-10 sm:mx-auto max-w-lg w-full bg-base-100 shadow rounded-lg p-8">
            <!-- Display form-wide errors -->
            {% if form.non_field_errors %}
                <div class="alert alert-soft alert-error flex items-start gap-4">
                    <div class="flex flex-col gap-1">
                        <h5 class="text-lg font-semibold">Oops!</h5>
                        <ul class="mt-1.5 list-inside list-disc">
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <!-- Form content -->
            {% block form %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
