{% extends "_auth_base.html" %}
{% block title %}Sign in to your account{% endblock %}
{% block subtitle %}Use your <b>username</b> and password to login{% endblock %}

{% block form %}
    <form class="space-y-8" method="POST">
        {% csrf_token %}

        <div class="flex flex-col gap-y-4">
            {% with label="Username" id="username" type="text" autocomplete="username" placeholder="steve" form_field=form.old_password required=True %}
                {% include "components/form_input.html" %}
            {% endwith %}

            {% with label="Password" id="password" type="password" autocomplete="password" form_field=form.password required=True %}
                {% include "components/form_input.html" %}
            {% endwith %}

        </div>

        <div class="mt-6">
            <button class="btn btn-primary btn-block">Sign in</button>
        </div>

    </form>
{% endblock form %}
