{% extends "_auth_base.html" %}
{% block title %}Sign in to your account{% endblock %}
{% block subtitle %}Use your <b>username</b> and password to login{% endblock %}

{% block form %}
    <form class="space-y-8" method="POST">
        {% csrf_token %}

         <div class="flex flex-col gap-y-4">
            {{ form.as_p }}
        </div>

        <div class="mt-6">
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </div>

    </form>
{% endblock form %}
