{% extends "_auth_base.html" %}
{% block title %}Reset your password{% endblock %}
{% block subtitle %}Enter your email to receive a password reset link{% endblock %}

{% block form %}
    <form class="space-y-8" method="POST">
        {% csrf_token %}
        
        <div class="flex flex-col gap-y-4">
            {% with label="Email" id="email" type="email" form_field=form.email required=True %}
                {% include "components/form_input.html" %}
            {% endwith %}
        </div>
        

        <div class="mt-6">
            <button class="btn btn-primary btn-block">Send reset link</button>
        </div>
    </form>
{% endblock form %}
