{% extends "_auth_base.html" %}
{% block title %}Reset your password{% endblock %}
{% block subtitle %}Enter your email to receive a password reset link{% endblock %}

{% block form %}
    <form class="space-y-8" method="POST">
        {% csrf_token %}
        
        <div class="flex flex-col gap-y-4">
            <div class="">
                <label class="label label-text" for="email">Email</label>
                <input
                    type="email"
                    autocomplete="email"
                    class="input {% if form.email.errors %}is-invalid{% endif %}"
                    id="email"
                    name="email"
                    value="{{ form.email.value | default_if_none:'' }}"
                    required
                />
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span class="label">
                                    <span class="label-text-alt">{{ error }}</span>
                                </span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="mt-6">
            <button class="btn btn-primary btn-block">Send reset link</button>
        </div>
    </form>
{% endblock form %}
