{% extends "_container.html" %}

{% block container_content %}
    <div class="flex flex-col gap-y-10">
        <div class="flex flex-col space-y-4">
        {% url 'profile' as profile_url %}
        {% include "components/back_button.html" with title="Profile" url=profile_url %}
        {% with title="Change Password" subtitle="Here you can update your account password" %}
            {% include "components/main_page_title.html" %}
        {% endwith %}
        </div>
    
        <div class="w-full bg-base-100 shadow rounded-lg p-8 flex flex-col gap-y-10">
            
            {# Update password section #}
            <div>
                <h3 class="font-semibold">Password</h3>
                <p class="mt-1 text-sm text-base-content/80">Enter your old password followed by you new one</p>
                <div class="mt-8 bg-base-200 rounded-lg p-8 w-full">
                    {% include "components/form_errors.html" %}
                    <form  method="POST" action="{% url 'password_change' %}" class="space-y-4 max-w-lg">
                        {% csrf_token %}
                        {% include "components/form_input.html" with label="Old password" id="old_password" type="password" form_field=form.old_password required=True %}
                        {% include "components/form_input.html" with label="New password" id="new_password1" type="password" form_field=form.new_password1 required=True %}
                        {% include "components/form_input.html" with label="Confirm password" id="new_password2" type="password" form_field=form.new_password2 required=True %}
                        <div class="pt-5">
                            <button type="submit" class="btn btn-primary">Update password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock container_content %}