{% extends "_base.html" %}
{% load static %}

{% block content %}
    <div class="flex flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-base-content">Reset your password</h2>
        </div>
    
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <!-- Display form-wide errors -->
            {% if form.non_field_errors %}
                <div class="alert alert-soft alert-error flex items-start gap-4">
                    <div class="flex flex-col gap-1">
                        <h5 class="text-lg font-semibold">Oops!</h5>
                        <ul class="mt-1.5 list-inside list-disc">
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <form class="space-y-8" method="POST">
                {% csrf_token %}
                
                {{ form.as_p }}

                <div class="mt-6">
                    <button class="btn btn-primary btn-block">Send reset link</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
