{% extends "_base.html" %}
{% load static %}

{% block content %}
    <div class="flex flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-base-content">Password reset sent</h2>
        </div>
    
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <div class="alert alert-outline alert-success flex items-center gap-4" role="alert">
                <span class="icon-[tabler--circle-check] size-6"></span>
                <p><span class="text-lg font-semibold">Success</span> Password reset link sent to your email. Check your inbox.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
