{% extends "dashboards/_dashboard_base.html" %}
{% load static %}
{% block title %}SDX Health Dashboard{% endblock %}
{% block description %}Here you can monitor the health of SDX apps{% endblock %}

{% block dashboard %}
    <div class="flex flex-col space-y-10">
    
        <div class="flex flex-col space-y-8">
            <h2 class="text-base-content text-3xl">Apps</h2>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-3 lg:grid-cols-4 items-center">
                {% for app in apps %}
                    {% with service_name=app.name version=app.version is_healthy=app.is_healthy %}
                        {% include "dashboards/components/service_card.html" %}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock dashboard %}
