{% extends "_container.html" %}
{% load static %}
{% load permissions %}

{% block container_content %}
    <div class="flex flex-col space-y-16">
        {% with title="Welcome "|add:user.get_name|title subtitle="Select a dashboard below..." %}
            {% include "components/main_page_title.html" %}
        {% endwith %}

        <!-- Dashboard cards -->
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 items-center">
            {% for dashboard in dashboards %}
                {% if request.user|can_view_dashboard:dashboard.slug %}
                    {% with dashboard as dashboard %}
                        {% include "baddy/components/dashboard_card.html" %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock container_content %}
