{% extends "_container.html" %}
{% load static %}

{% block container_content %}
    <div class="py-20 flex flex-col space-y-16">
        <div class="text-left">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl ">Welcome {{ user.username }}!</h1>
            <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl ">Select a dashboard below...</p>
        </div>
    
        <!-- Dashboard cards -->
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 items-center">
            <!-- Dataset card -->
            {% url 'dataset_dashboard' as dataset_url %}
            {% static 'images/dashboards/dataset.svg' as dataset_image %}
            {% with image_url=dataset_image title="SDS Datasets" description="View current dataset metadata" url=dataset_url %}
                {% include "baddy/components/dashboard_card.html" %}
            {% endwith %}
        
            <!-- SDX health card -->
            {% url 'sdx_health_dashboard' as dataset_url %}
            {% static 'images/dashboards/sdx_health.svg' as dataset_image %}
            {% with image_url=dataset_image title="SDX Health" description="View status of SDX apps" url=dataset_url %}
                {% include "baddy/components/dashboard_card.html" %}
            {% endwith %}
        
            <!-- Private card -->
            {% url 'secret_dashboard' as dataset_url %}
            {% static 'images/dashboards/private.svg' as dataset_image %}
            {% with image_url=dataset_image title="Super Secret" description="A super secret dashboard" url=dataset_url %}
                {% include "baddy/components/dashboard_card.html" %}
            {% endwith %}
        </div>
    </div>
{% endblock container_content %}
