{% extends "baddy/../_base.html" %}
{% load static %}

{% block content %}
    <div class="py-20">
        <div class="text-left">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl ">Welcome to Baddy!</h1>
            <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl ">Baddy is a dashboard for anyone to see what's going on in DFTS</p>
            <a href="{% url 'login' %}" class="inline-block px-8 py-3 text-sm font-semibold text-white bg-rose-600 rounded-md shadow-sm hover:bg-rose-500">Login</a>
        </div>
    </div>
{% endblock content %}
