
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html class="h-full" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicons/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="Baddy" />
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}" />
    <title>Baddy</title>

    {% compress css %}
    <link rel="stylesheet"
        href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<body class="bg-[#F9F5E1] flex flex-col min-h-screen h-full">
    <nav>
        <div class="bg-rose-500 p-5">
            <div class="max-w-48 mx-auto">
                <a href="{% url 'index' %}">
                    <img alt="Logo for Baddy" src="{% static 'images/logo.svg' %}">
                </a>
            </div>
        </div>
        <div class="bg-rose-200 p-2 overflow-hidden whitespace-nowrap relative">
            <div id="marquee" class="text-center">
                <p class="text-rose-900 text-sm">
                    Business Analytics & Data Dashboard for You - by <span class="font-bold">DFTS</span>
                </p>
            </div>
        </div>
    </nav>
    
    <div class="container mx-auto flex-grow h-full">
        {% block content %}
        {% endblock content %}
    </div>

    <footer class="bg-rose-200 text-white">
        <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col justify-center md:flex-row md:items-center md:justify-between">
            <span class="text-sm text-rose-900 text-center">© <span id="year"></span> <strong>Baddy</strong> | Designed by DFTS
            </span>
        </div>
    </footer>


    <script>
        // Dynamically set the current year in the footer
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>

</body>

</html>
