<div>
    <label class="label label-text" for="{{ id }}">{{ label }}</label>
    <input
        type="{{ type }}"
        autocomplete="{{ autocomplete }}"
        placeholder="{{ placeholder }}"
        class="input {% if form_field.errors %}is-invalid{% endif %}"
        id="{{ id }}"
        name="{{ id }}"
        value="{{ form_field.value | default_if_none:'' }}"
        required
    />
    {% if form_field.errors %}
        {% for error in form_field.errors %}
            <span class="label">
                <span class="label-text-alt">{{ error }}</span>
            </span>
        {% endfor %}
    {% endif %}
</div>
